.item-box {
    position: absolute;
    top: calc(8 * var(--design-vh));
    left: 28vw;
    width: 70vw;
    height: auto;
}

.no-item-tip {
    position: relative;
    top: calc(38 * var(--design-vh));
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.items {
    width: 70vw;
    height: calc(20 * var(--design-vh));
    box-shadow: 8px 10px 25px rgb(180, 145, 80, 1);
    position: relative;
    margin-top: calc(6 * var(--design-vh));
    display: flex;
    border-radius: calc(6 * var(--design-vh));
    text-decoration: none;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

.item-title {
    width: fit-content;
    height: auto;
    font-size: calc(6 * var(--design-vh));
    color: #3A251A;
    font-weight: 800;
    position: relative;
    top: 15%;
    left: 7%;
}

.refresh-tip {
    display: flex;
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}

.hidden-container {
    position: fixed;
    top: calc(100 * var(--design-vh));
    left: 28vw;
    width: 70vw;
    height: auto;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    transition: translateY 0.8s ease;
    justify-content: center;
    align-items: center;
}

.content-title {
    width: auto;
    height: calc(8 * var(--design-vh));
    color: #3A251A;
    font-weight: 800;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}

.content-text {
    width: 62vw;
    height: auto;
    color: #3A251A;
    font-weight: 300;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}