.item-box {
    position: absolute;
    top: 0;
    left: 28vw;
    width: 70vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.no-item-tip {
    position: relative;
    top: calc(38 * var(--design-vh));
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.item {
    width: 70vw;
    background-color: var(--primary-color);
    box-shadow: 8px 10px 25px rgb(180, 145, 80, 1);
    position: relative;
    margin-top: calc(6 * var(--design-vh));
    display: flex;
    border-radius: calc(6 * var(--design-vh));
    text-decoration: none;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: transform  0.2s cubic-bezier(0.34,1.56,0.64,1);
}

.item:active {
	transform: scale(0.96);
}

.item-title {
    width: fit-content;
    height: auto;
    font-size: calc(6 * var(--design-vh));
    color: var(--secondary-color);
    font-weight: 800;
    position: relative;
    top: 15%;
    left: 7%;
}

.item-desc {
    width: fit-content;
    height: auto;
    font-size: calc(4 * var(--design-vh));
    color: var(--secondary-color);
    font-weight: 400;
    position: absolute;
    top: 55%;
    left: 7%;
}

.refresh-tip {
    display: flex;
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}

.content-container {
    position: absolute;
    top: 2vh;
    left: 2.5vw;
    box-shadow: 8px 10px 25px rgb(180, 145, 80, 1);
    background-color: var(--primary-color);
    border-radius: calc(6 * var(--design-vh));
    width: 95vw;
    height: max-content;
    transition: transform 0.5s cubic-bezier(0.34,1.56,0.64,1);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    display: flex;
}

@media (min-width: 1px) and (orientation: portrait) {
	.item-desc {
		position: absolute;
		top: 42%;
	}
}