.item-box {
    position: absolute;
    top: calc(8 * var(--design-vh));
    left: 28vw;
    width: 70vw;
    height: auto;
}

.no-item-tip {
    position: relative;
    top: calc(38 * var(--design-vh));
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.items {
    width: 70vw;
    height: calc(20 * var(--design-vh));
    box-shadow: 8px 10px 25px rgb(180, 145, 80, 1);
    position: relative;
    margin-top: calc(6 * var(--design-vh));
    display: flex;
    border-radius: calc(6 * var(--design-vh));
    text-decoration: none;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

.item-title {
    width: fit-content;
    height: auto;
    font-size: calc(6 * var(--design-vh));
    color: #3A251A;
    font-weight: 800;
    position: relative;
    top: 15%;
    left: 7%;
}

.refresh-tip {
    display: flex;
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}

.hidden-container {
    position: fixed;
    top: calc(120 * var(--design-vh));
    left: 25vw;
    width: 75vw;
    height: auto;
    z-index: 9;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content-title {
    width: auto;
    font-size: calc(8 * var(--design-vh));
    color: #3A251A;
    font-weight: 800;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}

.content-text {
    width: 68vw;
    height: fit-content;
    color: #3A251A;
    font-weight: 300;
    padding-top: calc(6 * var(--design-vh));
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    padding-bottom: 20px;
}

.hide-content-button {
    position: absolute;
    top: calc(4.5 * var(--design-vh));
    right: 5%;
    font-size: calc(8 * var(--design-vh));
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.title-content-divider {
    width: 69vw;
    height: 0;
    border: 1px solid #3A251A;
}