#menu-box {
    position: fixed;
    top: calc(1.3 * var(--design-vh, 4.57px));
    left: calc(2.28 * var(--design-vh, 4.57px));
    width: calc(61 * var(--design-vh, 4.57px));
    height: calc(92 * var(--design-vh, 4.57px));
    background: #FFF3D0;
    border: calc(0.5 * var(--design-vh, 4.57px)) solid #73B436;
    opacity: 0;
    border-radius: calc(0.8 * var(--design-vh, 4.57px)) calc(0.8 * var(--design-vh, 4.57px)) calc(0.8 * var(--design-vh, 4.57px)) calc(0.8 * var(--design-vh, 4.57px));
    transition: transform 0.8s ease;
    transform: scale(0.1, 0.067);
    transform-origin: left top;
    z-index: 23;
}


.menu-button {
    width: calc(3 * var(--design-vh, 4.57px));
    height: calc(3 * var(--design-vh, 4.57px));
    background: #73B436;
    border: none;
    border-radius: calc(1 * var(--design-vh, 4.57px));
    z-index: 22;
    transition: transform 0.8s ease;
    position: fixed;
}

#button-left-up {
    top: calc(1 * var(--design-vh, 4.57px));
    left: calc(2 * var(--design-vh, 4.57px));
}

#button-left-down {
    top: calc(4.2 * var(--design-vh, 4.57px));
    left: calc(2 * var(--design-vh, 4.57px));
}

#button-right-up {
    top: calc(1 * var(--design-vh, 4.57px));
    left: calc(5.2 * var(--design-vh, 4.57px));
}

#button-right-down {
    top: calc(4.2 * var(--design-vh, 4.57px));
    left: calc(5.2 * var(--design-vh, 4.57px));
}

.star {
    position: absolute;
    font-size: calc(4 * var(--design-vh, 4.57px));
    color: #73B436;
}

.s1 {
    top: calc(-0.6 * var(--design-vh, 4.57px));
    left: calc(2.2 * var(--design-vh, 4.57px));
}

.s2 {
    top: calc(-0.6 * var(--design-vh, 4.57px));
    right: calc(2.2 * var(--design-vh, 4.57px));
}

.s3 {
    top: calc(0.8 * var(--design-vh, 4.57px));
    left: calc(0.6 * var(--design-vh, 4.57px));
}

.s4 {
    top: calc(0.8 * var(--design-vh, 4.57px));
    right: calc(0.6 * var(--design-vh, 4.57px));
}

.s5 {
    bottom: calc(1.5 * var(--design-vh, 4.57px));
    left: calc(0.6 * var(--design-vh, 4.57px));
}

.s6 {
    bottom: calc(0.1 * var(--design-vh, 4.57px));
    left: calc(2.2 * var(--design-vh, 4.57px));
}

.s7 {
    bottom: calc(0.1 * var(--design-vh, 4.57px));
    right: calc(2.2 * var(--design-vh, 4.57px));
}

.s8 {
    bottom: calc(1.5 * var(--design-vh, 4.57px));
    right: calc(0.6 * var(--design-vh, 4.57px));
}

#avatar {
    position: absolute;
    top: calc(4.6 * var(--design-vh, 4.57px));
    left: calc(4.8 * var(--design-vh, 4.57px));
    width: calc(12 * var(--design-vh, 4.57px));
    height: calc(12 * var(--design-vh, 4.57px));
    border-radius: calc(12 * var(--design-vh, 4.57px));
    border: #73B436 solid 1px;
}

#name {
    font-size: calc(4 * var(--design-vh, 4.57px));
    color: #3A251A;
    position: absolute;
    top: calc(4.3 * var(--design-vh, 4.57px));
    left: calc(19 * var(--design-vh, 4.57px));
    font-weight: 600;
    letter-spacing: 2px;
}

#bio {
    position: absolute;
    top: calc(10 * var(--design-vh, 4.57px));
    left: calc(19 * var(--design-vh, 4.57px));
    width: calc(36 * var(--design-vh, 4.57px));
    height: calc(7 * var(--design-vh, 4.57px));
    border: #3A251A solid 1px;
    font-size: calc(2.3 * var(--design-vh, 4.57px));
    color: #884C3A;
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
}

#level {
    position: absolute;
    top: calc(17 * var(--design-vh, 4.57px));
    left: calc(6 * var(--design-vh, 4.57px));
    width: calc(30 * var(--design-vh, 4.57px));
    height: calc(2.3 * var(--design-vh, 4.57px));
    padding-left: 0;
    align-items: center;
}

#level p {
    font-size: calc(2.2 * var(--design-vh, 4.57px));
    color: #3A251A;
    position: absolute;
    left: -3px;
    font-weight: 600;
    letter-spacing: 3px;
}

#level div {
    position: absolute;
    top: calc(1.8 * var(--design-vh, 4.57px));
    left: calc(13 * var(--design-vh, 4.57px));
    border: #3A251A solid 1px;
    width: calc(36 * var(--design-vh, 4.57px) + 5px);
    height: calc(1.5 * var(--design-vh, 4.57px));
    padding: 0 0 0 0;
}

#level line {
    height: calc(1.5 * var(--design-vh, 4.57px));
    position: absolute;
    top: 0;
    left: 0;
    background: #884C3A;
}

#menu-function-button-box {
    width: calc(54 * var(--design-vh, 4.57px));
    height: calc(65 * var(--design-vh, 4.57px));
    border: none;
    position: absolute;
    bottom: calc(4 * var(--design-vh, 4.57px));
    left: calc(4 * var(--design-vh, 4.57px));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.menu-function-button {
    width: calc(17.22 * var(--design-vh, 4.57px));
    height: calc(15.5 * var(--design-vh, 4.57px));
    margin: 0;
    padding-top: calc(10 * var(--design-vh, 4.57px));
    border: none;
    margin-top: calc(0.5 * var(--design-vh, 4.57px));
    font-size: calc(3 * var(--design-vh, 4.57px));
    font-weight: 900;
    text-align: center;
    background-color: #3A251A;
    color: #884C3A;
}