#navbar {
    width: 100vw;
    height: calc(8 * var(--design-vh, 4.57px));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #4a4030;
    transform-origin: left top;
    box-shadow: 0 0 25px rgba(74, 64, 48, 1);
}

#navbar> :not(#bio) {
    -webkit-user-select: none;
    user-select: none;
}

#search-input {
    position: fixed;
    top: calc(1 * var(--design-vh, 4.57px));
    left: 10%;
    box-sizing: border-box;
    padding: 0 calc(4 * var(--design-vh, 4.57px));
    width: 16%;
    height: calc(6 * var(--design-vh, 4.57px));
    border: calc(0.5 * var(--design-vh, 4.57px)) solid white;
    border-radius: calc(3 * var(--design-vh, 4.57px)) 0 0 calc(3 * var(--design-vh, 4.57px));
    background: rgba(0, 0, 0, 0);
    outline: none;
    color: white;
    font-size: calc(3 * var(--design-vh, 4.57px));
}

#search-button {
    position: fixed;
    top: calc(1 * var(--design-vh, 4.57px));
    left: calc(26% - calc(0.5 * var(--design-vh, 4.57px)));
    width: 40px;
    height: calc(6 * var(--design-vh, 4.57px));
    border: calc(0.5 * var(--design-vh, 4.57px)) solid white;
    border-radius: 0 calc(3 * var(--design-vh, 4.57px)) calc(3 * var(--design-vh, 4.57px)) 0;
    background: rgba(0, 0, 0, 0);
    font-size: calc(3 * var(--design-vh, 4.57px));
    color: white;
}

#search-sign {
    width: calc(3 * var(--design-vh, 4.57px));
    height: calc(3 * var(--design-vh, 4.57px));
}

#navbar-fuction-button-box {
    position: fixed;
    top: calc(1.9 * var(--design-vh, 4.57px));
    right: 0;
    height: calc(4.2 * var(--design-vh, 4.57px));
    width: calc(26 * var(--design-vh, 4.57px));
    display: flex;
    gap: calc(1 * var(--design-vh, 4.57px));
}

.navbar-function-button {
    width: calc(4.2 * var(--design-vh, 4.57px));
    height: calc(4.2 * var(--design-vh, 4.57px));
    border-radius: calc(1 * var(--design-vh, 4.57px));
    border: none;
    background: #FFF3D0;
    font-size: calc(4 * var(--design-vh, 4.57px));
    display: flex;
    gap: calc(1 * var(--design-vh, 4.57px));
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

#collect-button {
    color: #5A191B;
}

#share-button {
    color: #5A191B;
    transition: width 0.3s ease, padding 0.3s ease;
}

#command-button {
    color: #5A191B;
    padding-top: calc(0.5 * var(--design-vh, 4.57px));
}

#command-menu {
    position: fixed;
    top: calc(8 * var(--design-vh, 4.57px));
    right: 0;
    z-index: 1;
    width: 70vw;
    height: calc(60 * var(--design-vh, 4.57px));
    background: #4a4030;
    border: 5px solid #22130c;
    transition: transform 0.8s ease;
}

#command-title {
    width: 70vw;
    height: calc(6 * var(--design-vh, 4.57px));
    margin: 0;
    font-size: calc(4 * var(--design-vh, 4.57px));
    font-weight: 200;
    text-align: center;
    color: #FFF3D0;
}

#close-command {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: calc(6 * var(--design-vh, 4.57px));
    height: calc(6 * var(--design-vh, 4.57px));
    font-size: calc(6 * var(--design-vh, 4.57px));
    background-color: rgba(255, 255, 255, 0);
    color: #FFF3D0;
}

#cmd-input {
    position: absolute;
    top: calc(8 * var(--design-vh, 4.57px));
    left: 5%;
    width: 80%;
    height: calc(5 * var(--design-vh, 4.57px));
    padding-left: 1%;
    color: #FFF3D0;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #FFF3D0;
    outline: none;
}

#cmd-input::placeholder {
    color: rgba(255, 243, 208, 0.5);
}

#execute-cmd-button {
    position: absolute;
    top: calc(8 * var(--design-vh, 4.57px));
    left: calc(86% + 4px);
    width: 10%;
    height: calc(5 * var(--design-vh, 4.57px) + 6px);
    outline: none;
    border: 2px solid #FFF3D0;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF3D0;
    font-weight: 600;
}

#cmd-output-box {
    position: absolute;
    top: calc(15 * var(--design-vh, 4.57px));
    left: 5%;
    width: 90%;
    height: calc(42 * var(--design-vh, 4.57px));
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

#cmd-output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: calc(3 * var(--design-vh, 4.57px));
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    text-align: left;
    -webkit-user-select: text;
    user-select: text;
    color: #c0ae93;
}