.sidebar {
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: calc(8 * var(--design-vh, 4.57px));
    background-color: #FFF3D0;
    left: 0;
    box-shadow: 0 10px 25px rgba(180, 145, 80, 1);
    z-index: 15;
}

.sidebar * {
    -webkit-user-select: none;
    user-select: none;
}

.type {
    width: 23vw;
    height: calc(8 * var(--design-vh, 4.57px));
    background-color: #FFF3D0;
    color: #3A251A;
    border-top: 1px solid #3A251A;
    border-bottom: 1px solid #3A251A;
    font-size: calc(3.5 * var(--design-vh, 4.57px));
    font-weight: 500;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 1vw;
}

.dir-active-arrow {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #3A251A;
    font-size: calc(3.5 * var(--design-vh, 4.57px));
    font-weight: 200;
    letter-spacing: 5px;
    transition: all 0.3s ease;
}

.item-box {
    position: absolute;
    top: calc(8 * var(--design-vh));
    left: 28vw;
    width: 70vw;
    height: auto;
}

.no-item-tip {
    position: relative;
    top: calc(38 * var(--design-vh));
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.items {
    width: 70vw;
    height: calc(20 * var(--design-vh));
    box-shadow: 8px 10px 25px rgb(180, 145, 80, 1);
    position: relative;
    margin-top: calc(6 * var(--design-vh));
    display: flex;
    border-radius: calc(6 * var(--design-vh));
    text-decoration: none;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

.refresh-tip {
    display: flex;
    font-size: 20px;
    color: #3A251A;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding-top: calc(6 * var(--design-vh));
    padding-bottom: calc(6 * var(--design-vh));
}